body {
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-text-size-adjust: none;
    -webkit-user-select: none;
    -webkit-highlight: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

#result-time-a, #result-time-b {
    font-weight: bold;
}

#canvas-wrapper-a {
    width: 100%;
    height: 100%;
    overflow: scroll;
    /*-webtki-backface-visibility: hidden;*/
    -webkit-overflow-scrolling: touch;
    background: #4c4c4c;
}

#container {
    padding: 10px;
}

#canvas {
    /*-webkit-transform: scale(0.5, 0.5);*/
    /*width: 1000px;*/
    /*height: 1000px;*/
}

.icon-colors-rgb {
    background: url('../icon-res/1364455510_color.png') no-repeat;
    background-size: 100% auto;
    width: 16px;
    height: 16px;
}

.icon-colors-alpha {
    background: url('../icon-res/1364454774_layer_transparent.png') no-repeat;
    background-size: 100% auto;
    width: 16px;
    height: 16px;
}

.icon-settings {
    background: url('../icon-res/1364798480_cog-icon-2-48x48.png') no-repeat;
    background-size: 100% auto;
    width: 26px;
    height: 26px;
}

.settings-button .icon-settings {
    width: 24px;
    height: 24px;
}

.result-requests {
    width: 10%;
}

.result-size {
    width: 45%;
}

.result-time {
    width: 20%;
}

.result-button {
    width: 25%;
}

.modal-body {
    padding-top: 0;
    padding-bottom: 5px;
}

.modal-body legend {
    margin-bottom: 16px;
}

.modal-body select {
    width: 310px;
}

@media (max-width: 480px) {
    #canvas-wrapper-a {
        height: 450px;
    }

    #container select {
        width: 38px;
    }

    form {
        margin: 0;
    }

    #container {
        padding-bottom: 0;
    }

    .table {
        margin-bottom: 5px;
    }

    .modal-body select {
        width: 270px;
    }

    .modal-body legend {
        font-weight: bold;
        margin-bottom: 14px;
        line-height: 26px;
        font-size: 16px;
    }

    .settings-button {
        margin-left: 20%;
    }

    .settings-button .icon-settings {
        width: 16px;
        height: 16px;
    }
}